.joke {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 49px -35px rgba(0,0,0,0.75);

  &__body {
    font-size: .875rem;
  }

  &__rating {
    display: flex;

    &__icon {
      padding: 10px;
      width: 24px;
      height: 24px;
      color: #3eb4cd;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      transition-property: transform background-color;
      transition-duration: 200ms;

      &:hover {
        background-color: #ade4eb79;
        transform: scale(98%);
      }
    }
  }
}
